header,
main {
  width: 90%;
  margin: auto;
}

header {
  display: grid;

  grid-template-areas: 
    'header1 header1'
    'header2 header2';

  grid-template-rows: 150px 70px;
  grid-template-columns: 300px 250px;
  /* gap: 10px 0; */
  row-gap: 10px;
}

.header-1 {
  grid-area: header1;
  background: #bbb;
}

.header-2 {
  grid-area: header2;
}

main {
  margin: 15px 0 300px 0;
  display: grid;

  grid-template-areas: 
    'item4 item2'
    'item3 item1'
    'item5 item1';

  grid-template-columns: 200px 400px;
  grid-template-rows: 250px 250px 350px;
  gap: 10px 5px;

  /* grid-template-columns: 200px 400px;
  grid-template-rows: 250px 250px 350px; */
  /* column-gap: 10px;
  row-gap: 20px; */

  /* grid-template: 250px 250px 350px / 200px 400px;
  gap: 20px 10px; */
}

main section {
  border-radius: 5px;
  background-color: #bbb;
}

.two-columns {
  /* grid-column: 1 / 3; */
  /* grid-column-start: 1;
  grid-column-end: 3; */

  /* grid-column: 1 / span 1; */
}

.two-rows {
  /* grid-row: 2 / 4;
  grid-column: 2 / 3; */
  grid-area: 2 / 2 / 4 / 3;

  /* grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3; */
}

.item-1 {
  grid-area: item1;
}

.item-2 {
  grid-area: item2;
}

.item-3 {
  grid-area: item3;
}

.item-4 {
  grid-area: item4;
}

.item-5 {
  grid-area: item5;
}