/*
A table deve seguir os seguintes padrões de estilos:

1) Todo o texto deverá estar centralizado, com fonte "Times New Roman", Times,
serif, de tamanho de fonte de 12px;

2) Largura (width) em 20%;

3) Ter cor de pano de fundo igual a rgb(240,248,255);

4) Apenas os th's e td's deverão ter bordas "1px solid black", e padding de 5px;

5) A linha que contém os th's deverá estar na cor rgb(168, 218, 213). No entanto,		
se o mouse estiver posicionado sobre qualquer outra linha, esta também deverá estar
com o mesmo rgb, voltando a cor anterior, com a saída do mouse.
*/

table {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

    width: 20%;

    background-color: rgb(240,248,255);
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

td {
    background-color: rgb(240,248,255);
}

thead tr th {
    background-color: rgb(168, 218, 213);
}

tbody tr:hover td {
    background-color: rgb(168, 218, 213);
}